{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="titre-page">Nouvelle partie de JDR</h3>
            <hr class="hr-titre">
            <h4 class="sous-titre">{{ activity.round.name }}</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-4 form-ic">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="Ajouter" />
            <a class="btn btn-secondary float-right" href="{{ path('activity.module.list', {'slug': activityType.slug, 'arguments': options.round.slug } ) }}">Retour</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
