{% if event.master == app.user %}
    {% set slotted = 'master' %}
    {% set panel_color = 'panel-invites' %}
{% elseif event.isPlayer( app.user ) %}
    {% set slotted = 'player' %}
    {% set panel_color = 'panel-invites' %}
{% else %}
    {% set slotted = false %}
    {% set panel_color = 'panel-default' %}
{% endif %}

    <div class="panel {{ panel_color }}">
        <div class="panel-heading">
            <h4>{{ event.name }}</h4>
        </div>
        <div class="panel-body">
            <p><strong>Meneur :</strong> {{ event.master }}
                <br>
                <strong>Jeu :</strong> {{ event.game }}<br>
                <strong>Style :</strong> {{ event.style }}<br>
                <strong>Description :</strong><br>
                {{ event.description }}<br>
                <strong>Places libres:</strong> {{ event.freeSlots }} / {{ event.slots }}<br>
                <strong>Joueurs :</strong><br>
                {% for player in event.players %}
                    {{ player.username }}{% if loop.last != true %}, {% endif %}
                {% endfor %}
            </p>
            <p>
            {% if app.user %}
                {% if event.master == app.user %}
                    <!--<a class="btn btn-active " href="#">Modifier</a>-->
                {% elseif event.isPlayer( app.user ) %}
                    <a class="btn btn-active btn-table" data-act="leave" data-table-id="{{ event.id }}" href="#">Quitter</a>
                {% elseif eventuser.isEventTimeFree( event ) %}
                    <a class="btn btn-active btn-table" data-act="join" data-table-id="{{ event.id }}" href="#">Rejoindre</a>
                {% endif %}
            {% endif %}
            </p>
        </div>
    </div>
