{% extends "envol/void.html.twig" %}

{% block title %}

    {{ parent() }} - Rondes

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">

{% endblock %}

{% block body %}


    <div class="container-fluid pl-0 pr-0 mt-5">
        <h1>{{ round.name }} <small>nombre de tables : <span id="#nbr-activities">{{ round.activities.count }}</span></small></h1>
        {#<a href="#" id="btn-refresh" class="btn btn-primary" role="button" aria-disabled="true">Refresh</a>#}

        <div id="carousel">
            {% for activity in round.activities %}
            <div id="activity-{{ activity.id }}" class="ml-3">
            {% include 'envol/pages/activity/roleplay/block/activity.block.html.twig' with {'activity': activity, 'buttons': false, 'index': loop.index } only %}
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/ajax/advert.js') }}"></script>

    <div id="global"
         data-round-id="{{ round.id }}"
    ></div>
{% endblock %}
