{% extends "envol/core.html.twig" %}


{% set image = 'images/title/blk.png' %}
{% if title.pic is defined and title.pic != '' %}
    {% set image = 'uploads/menu/'~ title.pic %}
{% endif %}


{% block title %}
    {{ parent() }} - {{ title.name|default('Page') }}
{% endblock %}



{% block body %}

    <div class="row bd-titre {{ title.color|default('bd-orange') }}">
        <div class="container">
            <h2>
                <img src="{{ asset( image ) }}">
                {% block title_banner %}
                {{ title.name|default('page')|upper }}
                {% endblock %}
                <img src="{{ asset( image ) }}">
            </h2>
        </div>
    </div>

    <div id='main-container' class="container corps-page">
    {% block container %}

    {% endblock %}
    </div>

{% endblock %}