{% extends "envol/core.html.twig" %}



{% block title %}

    {{ parent() }} - {{ title.name|default('Page') }}

{% endblock %}



{% block body %}

    <div class="row bd-titre {{ title.color|default('bd-orange') }}">
        <div class="container">
            <h2>
                <img src="{{ asset( title.pic|default('images/title/blk.png') ) }}">
                {{ title.name|default('page')|upper }}
                <img src="{{ asset( title.pic|default('images/title/blk.png') ) }}">
            </h2>
        </div>
    </div>

    <div id='main-container' class="container corps-page">
    {% block container %}

    {% endblock %}
    </div>

{% endblock %}