{% set event = event() %}
<!-- NAV GENERALE -->
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-gen">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav-toggler" aria-controls="site-nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand" href="{{ path( 'home' ) }}"><img class="img-responsive" src="{{ asset('images/logo1.png') }}"></a>


        <div class="collapse navbar-collapse justify-content-end" id="site-nav-toggler">
            <ul class="nav navbar-nav" id="ul-nav-gen">
                {% if event %}
                {% for menu in event.menus %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="site_navbar_{{ menu.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ menu.name|upper }}<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="site_navbar_{{ menu.id }}">
                        {% for view in menu.views if view.active and not view.deleted %}
                        <a class="dropdown-item" href="{{ view|view_url }}">{{ view.name }}</a>
                        {% endfor %}
                    </div >
                </li>
                {% endfor %}
                {% endif %}

            </ul>
        </div> <!-- collapse -->
    </div> <!-- container -->
</nav>