
<!-- NAV GENERALE -->
<nav class="navbar nav-gen">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle responsive-menu" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path( 'home' ) }}"><img class="img-responsive" src="{{ asset('images/logo1.png') }}"></a>
        </div> <!-- nav-bar header -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="ul-nav-gen">

                {% for menu in menu_loader.list %}
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ menu.name|upper }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for view in menu.views %}
                        <li><a href="{{ menu_loader.url( view ) }}">{{ view.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>
        </div> <!-- collapse -->
    </div> <!-- container -->
</nav>