<!-- NAV TOP -->
<div class="row nav-top">
    <div class="container">
        <a href="https://www.facebook.com/phenix.cadurcien/"><img src="{{ asset('/images/facebook.png') }}"></a>
        <a href="mailto:lephenixcadurcien@live.fr"><img src="{{ asset('/images/email.png') }}"></a>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="dropdown link-nav-top"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('schedule') }}">Emploi du temps</a></li>
                <li><a href="{{ path('profile.edit') }}">Mon profil</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
                {% endif %}
            </ul>
        </li>
        {% else %}
        <a class="btn btn-inscri" href="{{ path('subscribe') }}">Inscription</a>
        <a class="btn btn-connex" href="{{ path('login') }}">Connexion</a>
        {% endif %}
    </div> <!-- container -->
</div> <!-- row -->