<!-- NAV TOP -->
<div class="row nav-top">
    <div class="container">
        {% if sEvent().theEvent %}
            {% for item in sEvent().theEvent.topLinks %}
                <a href="{{ item.link }}" class="top-link mr-1"><i class="{{ item.icon }}"></i></a>
            {% endfor %}
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="dropdown link-nav-top"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
            {% if sUser().isBookOnNextOpenEvent() %}
                <li><a href="{{ path('schedule') }}">Emploi du temps</a></li>
            {% elseif sEvent().getNextOpenEvent() %}
                <li><a href="{{ path('book') }}">M'inscrire au prochain évènement</a></li>
            {% endif %}
                <li><a href="{{ path('profile.edit') }}">Mon profil</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
            </ul>
        </li>
        {% else %}
        <a class="btn btn-inscri" href="{{ path('subscribe') }}">Inscription</a>
        <a class="btn btn-connex" href="{{ path('login') }}">Connexion</a>
        {% endif %}
    </div> <!-- container -->
</div> <!-- row -->