{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="titre-page">Liste des parties de jeu de société</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs nav-fill w-100">
                {# class="active" #}
                {% for key, round in rounds %}
                    <li class="nav-item" data-toggle="tooltip" title=""><a class="nav-link {% if key == active_round.code %} active{% endif %}" href="{{ path('boardgame', {'time': key}) }}">{{ round.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="table-list">
        {% include 'envol/block/boardgame-events.html.twig' with {'events': events} %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.defaults-fr_FR.js') }}"></script>
    <script src="{{ asset('js/ajax/boardgame.table.js') }}"></script>
{% endblock %}