{% extends "envol/standard.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <h3 class="titre-page">Liste des parties de jeu de société</h3>
            <hr class="hr-titre">
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <ul class="nav nav-tabs nav-liste">
            {# class="active" #}
            {% for key, round in rounds %}
                <li {% if key == active_round.code %} class="active" {% endif %} data-toggle="tooltip" title=""><a href="{{ path('boardgame', {'time': key}) }}">{{ round.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="table-list">
        {% include 'envol/block/boardgame-events.html.twig' with {'events': events} %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-select.defaults-fr_FR.js') }}"></script>
    <script src="{{ asset('js/ajax/roleplay.table.js') }}"></script>
{% endblock %}